@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nixie+One&display=swap');

.container{
  margin-left: 200px;
  margin-right: 200px;
}

h1{
  font-family: 'Nixie One', cursive;
}

h3{
  font-family: 'Nixie One', cursive;
}

.text{
  font-family: 'Lato', sans-serif;
}